body {
  margin: 0px;
  overflow: hidden;
}

.viewboxGrid {
  display: grid;
  grid-template-rows: 50px calc(100vh - 80px) 30px;
}

#nav-container {
  display: grid;
  background-color: #303952;
}
.main-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main-items img {
  height: 40px;
  padding: 5px;
}
.main-items {
  align-items: center;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a t i"
    "a t c";
  grid-gap: 5%;
  background-color: #b2bec3;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}
.footer {
  background-color: #303952;
  display: grid;
  align-items: center;
  justify-items: right;
  padding-right: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.abcdGrid {
  display: grid;
  grid-area: a;
  align-content: center;
}
.abcdGrid div {
  font-size: 60px;
  border: 1px solid black;
  text-align: center;
  background-color: #f3a683;
}

.threeColumnGrid {
  display: grid;
  grid-area: t;
  grid-template-columns: 1fr 1fr 1fr;
}
.threeColumnGrid div {
  padding: 5px;
  height: 60vh;
  border: 1px solid black;
  align-self: center;
  background-color: #f7d794;
}

#picture {
  align-self: center;
  width: 100%;
}
.info {
  display: grid;
  grid-area: i;
  border: 1px solid black;
  background-color: #ecf0f1;
  align-self: self-end;
  padding: 5px;
}

.calc {
  display: grid;
  grid-area: c;
  border: 1px solid black;
  background-color: #2d3436;
  height: 270px;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(6, 40px);
  justify-content: center;
  align-content: center;
  width: 180px;
  border-radius: 10px;
  grid-gap: 5px;
  padding: 10px;
  box-shadow: 3px 3px 3px rgb(63, 59, 59);
  transform: rotate(0.01turn);
}
.calc > button {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  cursor: pointer;
}
.calc > button:hover {
  background-color: #535c68;
}
.span4 {
  grid-column: span 4;
  background-color: gray;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: inset 1px 1px 2px rgb(63, 59, 59);
  text-align: right;
  font-size: larger;
}
.span2 {
  grid-column: span 2;
}
