body {
  margin: 0;
  background-color: black;
}
div {
  margin: 5px;
}
.header {
  background-color: deepskyblue;
  font-size: 40pt;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 120px;
}
.footer {
  bottom: 0;
  background-color: deepskyblue;
  font-size: 40pt;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 120px;
  width: calc(100vw - 10px);
  position: absolute;
}

.menu {
  width: calc(100vw / 5);
  display: flex;
  background-color: mediumpurple;
  margin: 0;
  flex-direction: column;
}
.ad {
  width: calc(100vw / 5);
  display: flex;
  background-color: mediumslateblue;
  margin: 0;
  flex-direction: column;
}
.content {
  background-color: pink;
  display: flex;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  flex-direction: column;

  width: calc(3 * 100vw / 5 - 20px);
}
.content p:first-child {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}
.content p:last-child {
  font-size: 16px;
}
.middle {
  display: flex;
  height: calc(100vh - 260px);
  min-height: 200px;
}
p {
  display: block;
  margin: 0%;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.menu p:first-child {
  margin-left: auto;
  margin-right: auto;
}

.ad p {
  font-size: 90px;
  margin: 10;
}
